openapi: 3.0.3
info:
  title: Audiomack Data Artist OAuth API
  version: '1.0'
  description: The Audiomack Data API provides programmatic access to Audiomack's music streaming catalog, artists, playlists, charts, search, and authenticated user resources. All requests use HTTPS against https://api.audiomack.com/v1 and authenticated requests are signed with OAuth 1.0a. Response payloads are JSON and most list endpoints support page-based pagination, the `fields` parameter for sparse fieldsets, and a `limit` parameter.
  contact:
    name: Audiomack Business
    url: https://creators.audiomack.com/contact-us
  license:
    name: Audiomack Terms of Service
    url: https://audiomack.com/about/terms-of-service
servers:
- url: https://api.audiomack.com/v1
  description: Production
security:
- oauth1: []
tags:
- name: OAuth
  description: OAuth 1.0a request-token and access-token exchanges.
paths:
  /request_token:
    post:
      tags:
      - OAuth
      summary: Obtain Request Token
      description: Issue an unauthorised OAuth 1.0a request token. Supply an `oauth_callback` parameter. Request tokens are valid for one hour.
      operationId: postRequestToken
      responses:
        '200':
          description: Request token issued.
  /access_token:
    post:
      tags:
      - OAuth
      summary: Exchange Access Token
      description: Exchange an authorised OAuth request token for a long-lived access token. Access tokens expire one year after issuance.
      operationId: postAccessToken
      responses:
        '200':
          description: Access token issued.
components:
  securitySchemes:
    oauth1:
      type: http
      scheme: OAuth
      description: OAuth 1.0a signed request. Obtain a request token via `POST /v1/request_token`, redirect the user to `https://audiomack.com/oauth/authenticate?oauth_token=...`, then exchange for an access token via `POST /v1/access_token`. Access tokens are valid for one year.
