openapi: 3.0.3
info:
  title: Audiomack Data Artist Search API
  version: '1.0'
  description: The Audiomack Data API provides programmatic access to Audiomack's music streaming catalog, artists, playlists, charts, search, and authenticated user resources. All requests use HTTPS against https://api.audiomack.com/v1 and authenticated requests are signed with OAuth 1.0a. Response payloads are JSON and most list endpoints support page-based pagination, the `fields` parameter for sparse fieldsets, and a `limit` parameter.
  contact:
    name: Audiomack Business
    url: https://creators.audiomack.com/contact-us
  license:
    name: Audiomack Terms of Service
    url: https://audiomack.com/about/terms-of-service
servers:
- url: https://api.audiomack.com/v1
  description: Production
security:
- oauth1: []
tags:
- name: Search
  description: Free-text search and autosuggest across music, albums, and artists.
paths:
  /search:
    get:
      tags:
      - Search
      summary: Search Audiomack
      description: Search across music, albums, and artists with optional genre and verified filters.
      operationId: search
      parameters:
      - in: query
        name: q
        required: true
        schema:
          type: string
      - in: query
        name: show
        schema:
          type: string
      - in: query
        name: sort
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: genre
        schema:
          type: string
      - in: query
        name: verified
        schema:
          type: boolean
      responses:
        '200':
          description: Search results.
  /search_autosuggest:
    get:
      tags:
      - Search
      summary: Autosuggest Search
      operationId: searchAutosuggest
      parameters:
      - in: query
        name: q
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Autosuggest results.
components:
  securitySchemes:
    oauth1:
      type: http
      scheme: OAuth
      description: OAuth 1.0a signed request. Obtain a request token via `POST /v1/request_token`, redirect the user to `https://audiomack.com/oauth/authenticate?oauth_token=...`, then exchange for an access token via `POST /v1/access_token`. Access tokens are valid for one year.
